@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #181717;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  background: linear-gradient(to top, #0575e6, #021b79);
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: rgb(76.085106383, 72.914893617, 72.914893617);
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #181717;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
  margin: 0 4px;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}
.post-tags p {
  margin: 0 10px 0 0;
}

aside.sidebar,
section.posts {
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.59);
  background: linear-gradient(to bottom, #6190e8, #a7bfe8);
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  aside.sidebar ul li {
    display: inline-block;
    margin: 2px 5px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFVQSxXQUFBO0FBRUE7RUFDRSxzQkFBQTtBQ1ZGOztBRGFBO0VBRUUsMENBVlU7RUFXVixjQWZXO0VBZ0JYLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0VBQ0EscURBQUE7RUFDQSxpQkFBQTtBQ1hGOztBRGNBO0VBQ0UsaUJBQUE7RUFDQSxjQUFBO0FDWEY7O0FEY0E7RUFDRSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxpQ0E1Qlk7RUE2QlosZ0JBQUE7QUNYRjtBRFlFO0VBQ0Usb0JBQUE7RUFDQSxnQkFBQTtFQUNBLG9EQUFBO0FDVko7O0FEY0EsV0FBQTtBQUVBO0VBQ0UsYUFBQTtFQUNBLGlCQUFBO0FDWkY7O0FEZUE7RUFDRSxXQUFBO0FDWkY7O0FEZUE7RUFDRSxXQUFBO0FDWkY7O0FEZUE7RUFDRSxnQkExRFk7RUEyRFosa0JBQUE7RUFDQSxhQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtBQ1pGOztBRGVBLFNBQUE7QUFFQTtFQUNFLGtDQWhFVTtFQWlFVixnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsV0F6RVk7QUM0RGQ7O0FEZ0JBLFVBQUE7QUFFQTtFQUNFLHFCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUNkRjtBRGVFO0VBQ0UsaUJBQUE7QUNiSjs7QURrQkU7RUFDRSxxQkFBQTtFQUNBLGFBQUE7QUNmSjs7QURtQkEsWUFBQTtBQUdFO0VBQ0UsbUJBQUE7QUNsQko7O0FEc0JBLFNBQUE7QUFFQTtFQUNFLGFBQUE7QUNwQkY7QURxQkU7RUFDRSxjQUFBO0FDbkJKOztBRHVCQTtFQUNFLGtCQUFBO0FDcEJGOztBRHVCQTtFQUNFLGFBQUE7QUNwQkY7QURxQkU7RUFDRSxrQkFBQTtBQ25CSjs7QUR1QkE7O0VBRUksK0NBQUE7RUFDQSx3REFBQTtBQ3BCSjs7QUR1QkE7RUFDSTtJQUNJLHNCQUFBO0lBQ0EsU0FBQTtFQ3BCTjtFRHlCVTtJQUNJLHFCQUFBO0lBQ0EsZUFBQTtFQ3ZCZDtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */